.DS_store
.coverage
.ropeproject/
notebooks/
*.pyc
*.csv
.bash*
.cache/
.config/
.gsutil/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.local/
.pip/
.profile
.ssh/
.viminfo
.w3m/
spark_setup/
.m2/
.zinc/
*.ipynb
.idea
